<% @comments.each do |comment| %>
  <p><%= comment.body %></p>
  <p>Commented by <%= comment.user.email %> 
    <%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago
  </p>
  <p><%= link_to 'Delete', article_comment_path(comment.article_id, comment.id), 
  method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>