<% if current_user &.admin %>
    <% @list.each do |user| %>
        <ul>
            <li><%= user.user_name %></li>
            <li><%= user.email %></li>
            <li><%= user.admin %></li>
            
        </ul>
    <% end %>
<% end %>